<!-- {% extends 'layout.html' %} -->
<!-- {% block content %} -->
<!--     {% for review in reviews %} -->
<!--         {% set nurse = Nurse.query.filter_by(id=review.nurse_id).first() %} -->
<!--         {% set user = User.query.filter_by(id=nurse.user_id).first() %} -->
<!--         <!-- {% set appointment = Appointment.query.filter_by(id=review.appointment_id).first() %} --> -->
<!--         {% set patient = Patient.query.filter_by(id=appointment.patient_id).first() %} -->
<!--         {% set service = Service.query.filter_by(id=appointment.service_id).first() %} -->
<!--         <article class="media content-section mt-4"> -->
<!--             <img class="rounded-circle article-img" src="{{ url_for('static', filename=user.image_file) }}"> -->
<!--             <div class="media-body"> -->
<!--                 <div class="article-metadata"> -->
<!--                     <a class="mr-2" href="{{ url_for('users.profile', user_id=user.id) }}">{{ user.username }}</a> -->
<!--                     <small class="text-muted">{{ review.to_dict()['created_at']}}</small> -->
<!--                 </div> -->
<!--                 <h4><a class="article-title" href="{{ url_for('reviews.retrieve_reviews', id=user.id) }}">Patient: {{ patient.to_dict()['username'] }}</a></h2> -->
<!--                 <p class="article-content">Feedback: {{ review.to_dict()['description'] }}</p> -->
<!--                 <p class="article-content">Service: <a href="{{ url_for('services.service', id=service.id) }}">{{ service.to_dict()['title'] }}</a></p> -->
<!--             </div> -->
<!--         </article> -->
<!--     {% endfor %} -->
<!-- {% endblock %} -->
